Repository ita-social-projects/StreetCode_Client, pull requests merged in 2023-12, with the labels that each got.

#1043 fix saving wow facts without fully donloaded image
  src/features/AdminPage/NewStreetcode/InterestingFactsBlock/FactsAdminModal/InterestingFactsAdminModal.component.tsx
Labels: bug

#1040 News modal date and image are set to required
  src/features/AdminPage/NewsPage/News.component.tsx
  src/features/AdminPage/NewsPage/NewsModal/NewsModal.component.tsx
Labels: bug, admin-page

#1051 Fixed partner modal save button for editing
  src/features/AdminPage/PartnersPage/PartnerModal/PartnerModal.component.tsx
Labels: bug, admin-page

#1015 fix third card(for connections) on streetcode page
  src/features/StreetcodePage/MainBlock/StreetcodeCard/StreetcodeCard.component.tsx
Labels: bug, small

#1034 Hide slide categories outline
  src/features/SlickSlider/SlickSlider.styles.scss
  src/features/StreetcodePage/SourcesBlock/SourceItem/SourceItem.styles.scss
  src/features/StreetcodePage/SourcesBlock/Sources.styles.scss
Labels: styles, small

#1070 Fixed progress bar visibility and popups
  src/features/ProgressBar/ProgressBar.component.tsx
  src/features/ProgressBar/ProgressBarSection/ProgressBarSection.component.tsx
  src/features/ProgressBar/ProgressBarSection/ProgressBarSection.styles.scss
Labels: bug

#1068 Fix issue 847 Fix Url Ref
  src/features/AdditionalPages/PrivatePolicyPage/SubSections/SubSectionFirst/SectionFirst.component.tsx
  src/features/AdditionalPages/PrivatePolicyPage/SubSections/SubSectionFourth/SectionFourth.component.tsx
  src/features/AdditionalPages/PrivatePolicyPage/Title/Title.component.tsx
Labels: bug

#1060 Fixed the amount buttons and input in donates modal
  src/app/common/components/modals/Donates/DonatesModal.component.tsx
  src/app/common/components/modals/Donates/DonatesModal.styles.scss
  src/assets/sass/variables/_variables.colors.scss
  src/features/AdditionalPages/SupportUsPage/components/DonationBlock.component.tsx
Labels: bug, styles

#1037 Fix for fans category editing
  src/app/stores/source-category-store-create.ts
  src/features/AdminPage/NewStreetcode/ForFansBlock/ForFansAdminModal/ForFansAdminModal.component.tsx
  src/features/AdminPage/NewStreetcode/MainNewStreetcode.component.tsx
Labels: bug, admin-page

#1030 Made a mobile ornament with varying lengths for screens with a width …
  src/assets/images/main-page/ornamentFlower.svg
  src/assets/images/main-page/ornament_mobile.svg
  src/features/MainPage/StaticBanners/StaticBanner.component.tsx
  src/features/MainPage/StaticBanners/StaticBanner.styles.scss
Labels: styles

#1025 Fixed Issue 870, 871
  package.json
  src/app/common/components/modals/Partners/PartnersModal.component.tsx
  src/app/common/components/modals/Partners/PartnersModal.styles.scss
  src/features/AdminPage/NewStreetcode/TimelineBlock/NewTimelineModal/NewTimelineModal.component.tsx
Labels: bug, styles

#1029 set fixed position for arrows in connection(streetcode)
  src/features/StreetcodePage/RelatedFiguresBlock/RelatedFigureItem/RelatedFigureItem.styles.scss
  src/features/StreetcodePage/RelatedFiguresBlock/RelatedFigures.styles.scss
Labels: bug, small

#1022 fix our partners title
  src/features/MainPage/Heading/Heading.styles.scss
Labels: bug, small

#1077 Issue 604 (Change padding in main text field)
  src/features/StreetcodePage/TextBlock/ReadMore/ReadMore.styles.scss
  src/features/StreetcodePage/TextBlock/TextBlock.styles.scss
Labels: styles, small
